Smart Bridge IOT.json
[{"id":"81c05e8e.160c3","type":"tab","label":"Smart bridge IOT","disabled":false,"info":""},{"id":"bef796e2.fc78d8","type":"ui_gauge","z":"81c05e8e.160c3","name":"","group":"ac4333c1.ec1da","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"%rh","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#bfbf69","#ca3838"],"seg1":"","seg2":"","x":430,"y":760,"wires":[]},{"id":"99a63427.62db98","type":"change","z":"81c05e8e.160c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":760,"wires":[["bef796e2.fc78d8"]]},{"id":"f6165da2.99c37","type":"http request","z":"81c05e8e.160c3","name":"weather","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Mysore,IN&appid=01c2b13013c958c11081bf7a6cff7122&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":220,"y":620,"wires":[["220518d1.2cfeb8","99a63427.62db98","d5963297.7973b","f747fc01.b2137","dd3579ff.ec16f8","2200851.a31137a","abafe8e9.ca3da8","a726b21d.aae5e","b2a9c10.3c5684"]]},{"id":"bc34e1a7.4d4aa","type":"inject","z":"81c05e8e.160c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":170,"y":520,"wires":[["f6165da2.99c37"]]},{"id":"220518d1.2cfeb8","type":"change","z":"81c05e8e.160c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":720,"wires":[["d437e8f0.a2e9d8"]]},{"id":"d5963297.7973b","type":"change","z":"81c05e8e.160c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":800,"wires":[["5c14e706.b7e398"]]},{"id":"f747fc01.b2137","type":"change","z":"81c05e8e.160c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":880,"wires":[["4ab8c785.ec6018"]]},{"id":"dd3579ff.ec16f8","type":"debug","z":"81c05e8e.160c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":600,"wires":[]},{"id":"2200851.a31137a","type":"change","z":"81c05e8e.160c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sys.country","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":840,"wires":[["f8bf87ae.fb0ad8"]]},{"id":"abafe8e9.ca3da8","type":"change","z":"81c05e8e.160c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":920,"wires":[["df4cd285.3c055"]]},{"id":"a726b21d.aae5e","type":"change","z":"81c05e8e.160c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.deg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":960,"wires":[["dc1d29f8.00c0f8"]]},{"id":"b2a9c10.3c5684","type":"change","z":"81c05e8e.160c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1000,"wires":[["4d49229c.e467bc"]]},{"id":"d437e8f0.a2e9d8","type":"ui_gauge","z":"81c05e8e.160c3","name":"","group":"2c0bcdc6.5da2d2","order":3,"width":0,"height":0,"gtype":"wave","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":720,"wires":[]},{"id":"5c14e706.b7e398","type":"ui_gauge","z":"81c05e8e.160c3","name":"","group":"5d363e32.4796","order":2,"width":0,"height":0,"gtype":"donut","title":"","label":"Pa","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":800,"wires":[]},{"id":"4ab8c785.ec6018","type":"ui_text","z":"81c05e8e.160c3","group":"e944c9fc.aa62e8","order":2,"width":0,"height":0,"name":"","label":"Place","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":880,"wires":[]},{"id":"657eb2e8.3fb38c","type":"ui_template","z":"81c05e8e.160c3","group":"2c0bcdc6.5da2d2","name":"","order":2,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://www.foodbusinessnews.net/ext/resources/2019/9/TractorFarm_Lead.jpg?1569426080\");\n     background-size: 100% 100%;\n    }\n</style>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":480,"y":480,"wires":[["dd3579ff.ec16f8"]]},{"id":"f8bf87ae.fb0ad8","type":"ui_text","z":"81c05e8e.160c3","group":"e944c9fc.aa62e8","order":1,"width":0,"height":0,"name":"","label":"Country Code","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":840,"wires":[]},{"id":"df4cd285.3c055","type":"ui_text","z":"81c05e8e.160c3","group":"e944c9fc.aa62e8","order":3,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":920,"wires":[]},{"id":"dc1d29f8.00c0f8","type":"ui_text","z":"81c05e8e.160c3","group":"e944c9fc.aa62e8","order":4,"width":0,"height":0,"name":"","label":"Wind Degree","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":960,"wires":[]},{"id":"4d49229c.e467bc","type":"ui_text","z":"81c05e8e.160c3","group":"e944c9fc.aa62e8","order":2,"width":0,"height":0,"name":"","label":"Weather description","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":1000,"wires":[]},{"id":"3bff038f.472d7c","type":"ui_text","z":"81c05e8e.160c3","group":"9e240998.917058","order":2,"width":0,"height":0,"name":"","label":"Motor Status","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":1060,"wires":[]},{"id":"db471d61.95d48","type":"ui_toast","z":"81c05e8e.160c3","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":550,"y":1100,"wires":[[]]},{"id":"1fbeb7fe.edf438","type":"function","z":"81c05e8e.160c3","name":"","func":"if(msg.payload===1)\n    msg.payload={'command':'MotorON'};\n\nelse \n    msg.payload={'command':'MotorOFF'};\n    \nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1220,"wires":[["38f81a6e.d38416"]]},{"id":"1faee5c4.44864a","type":"ui_button","z":"81c05e8e.160c3","name":"","group":"f705bf6.2d6944","order":1,"width":0,"height":0,"passthru":false,"label":"button on","tooltip":"","color":"Green","bgcolor":"black","icon":"fa-dot-circle-o ","payload":"1","payloadType":"num","topic":"","x":60,"y":1220,"wires":[["1fbeb7fe.edf438","5000a6cc.e52d58"]]},{"id":"fbb30812.779b98","type":"ui_button","z":"81c05e8e.160c3","name":"","group":"f705bf6.2d6944","order":2,"width":0,"height":0,"passthru":false,"label":"button off","tooltip":"","color":"Red","bgcolor":"black","icon":"fa-dot-circle-o ","payload":"0","payloadType":"num","topic":"","x":60,"y":1280,"wires":[["1fbeb7fe.edf438","5000a6cc.e52d58"]]},{"id":"c6dbe2c5.2a439","type":"ibmiot out","z":"81c05e8e.160c3","authentication":"apiKey","apiKey":"5d70faf1.e52ed4","outputType":"cmd","deviceId":"112233445566","deviceType":"Motor","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":1200,"wires":[]},{"id":"38f81a6e.d38416","type":"json","z":"81c05e8e.160c3","name":"","property":"payload","action":"","pretty":false,"x":430,"y":1220,"wires":[["c6dbe2c5.2a439"]]},{"id":"5000a6cc.e52d58","type":"function","z":"81c05e8e.160c3","name":"","func":"if(msg.payload===1)\n    msg.payload=\"Motor ON\";\n    \nelse\n\n    msg.payload=\"Motor OFF\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1140,"wires":[["3bff038f.472d7c","db471d61.95d48"]]},{"id":"ac4333c1.ec1da","type":"ui_group","z":0,"name":"Humidity","tab":"adfd5092.791de","order":2,"disp":true,"width":"6","collapse":false},{"id":"2c0bcdc6.5da2d2","type":"ui_group","z":0,"name":"Temperature","tab":"adfd5092.791de","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d363e32.4796","type":"ui_group","z":0,"name":"Pressure","tab":"adfd5092.791de","order":3,"disp":true,"width":"6","collapse":false},{"id":"e944c9fc.aa62e8","type":"ui_group","z":"","name":"Tabular","tab":"adfd5092.791de","order":6,"disp":true,"width":"6","collapse":false},{"id":"9e240998.917058","type":"ui_group","z":"","name":"Button","tab":"adfd5092.791de","order":5,"disp":true,"width":"6","collapse":false},{"id":"f705bf6.2d6944","type":"ui_group","z":0,"name":"Motor Operator","tab":"adfd5092.791de","order":4,"disp":true,"width":"6","collapse":false},{"id":"5d70faf1.e52ed4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"mrcy9i.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"adfd5092.791de","type":"ui_tab","z":0,"name":"DATA","icon":"dashboard","order":4,"disabled":false,"hidden":false}]